*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: lightgray;
}

form{
  width: 45%;
  height: auto;
}

#content{
  width: 100vw;
  height: auto;
}

.banner{
  background: url('./images/banner.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 15em;
}

.header{
  font-size: 4rem;
  color: lightgray;
  margin: 1rem 0 3rem 0;
}

.menu-btn,
.contact-btn{
  margin: 1rem 1rem;
  padding: 1rem;
  font-size: 1rem;
  background: lightblue;
  border-radius: 10px;
  border: none;
  outline: none;
}

.tab-content{
  display: flex;
  padding: 1rem;
}

.cont-wrap{
  display: flex;
}

.active{
  background: blue;
  border: 1px solid white;
}